.gitignore
mindset_atencion_a_los_detalles.txt
.prettierrc                
asincronicidad.png         
asincronicidadError.png    
asyncAwait.js              
callbackHell.js            
callbacks.js               
jsCHEATSHEET.jfif            
clasenodepromises.js       
css_cheatsheet.png         
datejs_cheatsheet.jfif     
django_startercheatsheet.jf
ERROR NODE.png             
html_cheatsheet.jfif       
mementopython3-english.pdf 


pandas_cheatsheet.png
pizza.js                
promises.js             
prueba.py       
pythonListMethod.png      
pythonSetMethod.png     
pythonStringMethod.png
readme.md               
sqlv1.png                
