/clasenodegit/basch.js
/clasenodegit/for.js
/clasenodegit/cgit.md
/git-cheat-sheet-education.pdf
/gitr.txt 
/glass.txt
/html5.js
/javascript-cheatsheet-2019-lenguajejs.com.pdf
/mementopython3-english.pdf
/nodecs2021.js
/clasenodegit/!clasenodegit.js
!clasenodegit.js